*{
	padding: 0;
	margin: 0;
	font-family: 'Ebrima';
}


.unselectable {
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.unselectable h1, .unselectable h2, .unselectable h3, .unselectable h4, .unselectable h5, .unselectable p {
	cursor: default;
}

/* COMMON */
.align-center{
	text-align: center;
}
.align-right{
	text-align: right;
}
.full-sized{
	width: 100%;
	height: 100%;
}
.paragraph{
	line-height: 1.8em;
}
.section{
	padding: 50px 0 100px 0;
}
.margin-top-small{
	margin-top: 14px;
}
.margin-top-normal{
	margin-top: 20px;
}
.margin-top-large{
	margin-top: 40px;
}
.margin-top-larger{
	margin-top: 60px;
}
.width-small{
	max-width: 450px;
}
.width-normal{
	max-width: 900px;
}
.margin-center{
	margin-left: auto;
	margin-right: auto;
}
.font-17px{
	font-size: 17px;
}
h2{
	color: #0277bd;
	font-weight: 200 !important;
	text-transform: uppercase;
}
.description_1{
	font-size: 20px;
}

/* THEMES*/

.text-center {
	text-align: center;
}
.color-white{
	color: #fff;
}
.color-black{
	color: #333;
}
.background-color-white{
	background-color: #fff;
}
.background-color-grey{
	background-color: #f2f2f2;
}
.color_1{
	color: #fff;
}
.color_2{
	color: #95bee3;
}
.color_3{
	color: #4c4c4c;
}
.color_4{
	color: #111828;
}

.border-color_1{
	border-color: #fff;
}
.border-color_2{
	border-color: #4867aa;
}
.border-color_3{
	border-color: #19243a;
}
.border-color_4{
	border-color: #111828;
}

.background-color_1{
	background-color: #fff;
}
.background-color_2{
	background-color: #4867aa;
}
.background-color_3{
	background-color: #19243a;
}
.background-color_4{
	background-color: #111828;
}

/* Hover */
.hover-color_1:hover{
	color: #fff;
}
.hover-color_2:hover{
	color: #4867aa;
}
.hover-color_3:hover{
	color: #19243a;
}
.hover-color_4{
	color: #111828;
}

.hover-border-color_1:hover{
	border-color: #fff;
}
.hover-border-color_2:hover{
	border-color: #4867aa;
}
.hover-border-color_3:hover{
	border-color: #19243a;
}
.hover-border-color_4{
	border-color: #111828;
}

.hover-background-color_1:hover{
	background-color: #fff;
}
.hover-background-color_2:hover{
	background-color: #4867aa;
}
.hover-background-color_3:hover{
	background-color: #19243a;
}
.hover-background-color_3:hover{
	background-color: #111828;
}


/* Buttons */
.button{
	-webkit-transition: 0.2s;
	transition: 0.2s;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 2px solid transparent;
	border-radius: 8px;
	text-decoration: none;
	font-weight: 400;
}
.button:hover{
	-webkit-transition: 0.2s;
	transition: 0.2s;
	text-decoration: none;
}
.button_1{
	border-color: #4867aa;
	color: #4867aa;
}
.button_1:hover{
	background-color: #4867aa;
	color: #fff;
}
.button_2{
	border-color: #fff;
	color: #fff;
}
.button_2:hover{
	background-color: #fff;
	color: #222;
}
.button_3{
	background-color: #4867aa;
	color: #fff;
}
.button_3:hover{
	border-color: #fff;
	background-color: #fff;
	color: #4867aa;
}


nav .nav a {
	font-size: 16px;
}

/* BANNER */
#banner{
	background: url('../img/banner.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 70%;
}
#banner .banner{
	background-color: rgba(17, 24, 40,.6);
}


#banner .navbar-brand img {
	height: 40px;
}

#banner .banner-content{
	padding-top: 4%;
	padding-bottom: 6%;
	/*margin-top: 50px;*/
	/*width: 70%;
	margin: 0 auto;*/
}
#banner .banner-content h1{
	/*font-size: 30px;*/
	/*font-weight: bold;*/
	/*font-size: 48px;*/
	margin-bottom: 20px;
	letter-spacing: 1px;

}
#banner .banner-content p{
	margin-top: 1em;
	word-spacing: 1px;
}
#banner .banner-content .banner-btn{
	margin-top: 2em;
}

#banner .banner-paragraph {
	line-height: 1.4em;
}

#howitworks .howitworks-wrap .item {
	margin: 20px 0;
}

.component {
	opacity: 0;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.component_title_1.show {
	animation-name: component_title_1;
	animation-delay: 0.2s;
	animation-duration: 0.8s;
}

.component_zoom_in.show {
	-webkit-animation-name: component_zoom_in;
	animation-name: component_zoom_in;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
}

.component_fade.show {
	-webkit-animation-name: component_fade;
	animation-name: component_fade;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
}

.component_shift_down_1.show {
	-webkit-animation-name: component_shift_down_1;
	animation-name: component_shift_down_1;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
}

.component_shift_down_2.show {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.component_shift_down_2_slow.show {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.component_title_1, .component_shift_down_2_slow, .component_shift_down_2 {
	position: relative;
}

.component_shift_down_2_slow.show, .component_shift_down_2.show {
	-webkit-animation-name: component_shift_down_2;
	animation-name: component_shift_down_2;
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}




@-webkit-keyframes component_zoom_in {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 0);
		transform: scale(0, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(1.2,1.2);
		transform: scale(1.2,1.2);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}



@keyframes component_title_1 {
	0% {
		opacity: 0;
		top: -10px;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

@keyframes component_zoom_in {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 0);
		transform: scale(0, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(1.2,1.2);
		transform: scale(1.2,1.2);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@-webkit-keyframes component_fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes component_fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes component_shift_down_1 {
	0% {
		opacity: 0;
		margin-top: -60px;
	}

	100% {
		opacity: 1;
		margin-top: '';
	}
}

@keyframes component_shift_down_1 {
	0% {
		opacity: 0;
		margin-top: -60px;
	}

	100% {
		opacity: 1;
		margin-top: '';
	}
}

@-webkit-keyframes component_shift_down_2 {
	0% {
		opacity: 0;
		top: -60px;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}

@keyframes component_shift_down_2 {
	0% {
		opacity: 0;
		top: -60px;
	}

	100% {
		opacity: 1;
		top: 0;
	}
}


.team-wrap .item img {
	width: 100%;
	/*height: 100%;*/
	border-radius: 50%;
}

.team-wrap .item {
	display: block;
	width: 162px;
	height: 162px;
	margin: 0 auto;
}

.team-wrap .position-caption {
	text-align: center;
	text-transform: uppercase;
}

.team-wrap .name-caption {
	text-align: center;
	margin-top: 1em;
}

.team-wrap .group {
	margin-top: 2em;
}

#contact p {
	display: inline-block;
	width: 100%;
}

#contact {
	padding: 100px 0;
	background-color: #323a45;
}

#contact hr {
	border-top: 1px solid rgba(255,255,255,.1);
}
#contact .contact-us .icon {
	margin-right: 1em;
}

#contact .contact-us {
	color: #ccc;
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	color: #95bee3;
}

#contact .contact-us-btn {
	-webkit-transition: 0.2s;
	transition: 0.2s;
	padding: 1em 4em;
	border: 2px solid #95bee3;
	background-color: transparent;
	/*text-transform: uppercase;*/
	letter-spacing: 1px;
	font-size: 18px;
	text-decoration: none;
	color: #95bee3;
	border-radius: 2em;
}

#contact .contact-us-btn:hover {
	background-color: #95bee3;
	color: #fff;
}



@media (max-width: 768px) {
	html, body {
		width: auto !important;
		overflow-x: hidden !important;
	}
}
